global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  10m
    timeout server  10m

frontend narwhal
    bind :8000
    default_backend narwhal_routers

backend narwhal_routers
    option httpchk
    http-check send meth GET uri /ready
    http-check expect status 200
    server router-a ROUTER_A_ADDRESS:8000 check inter 1s fall 2 rise 1
    server router-b ROUTER_B_ADDRESS:8000 check inter 1s fall 2 rise 1
